<!DOCTYPE html>
<html>
<head>
    <title>Resultados de la consulta</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Resultados de la consulta</h1>
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for value in row %}
                        <td>{{ row[value] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="map" id="map"></div>
    <script>
        function initMap() {
            var latitud = 40.4168	;
            var longitud = -3.7038;
            var myLatLng = { lat: parseFloat(latitud), lng: parseFloat(longitud) };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'El señor de los anillos	'
            });
        }
        initMap();
    </script>
</body>
</html>
